body {
    width: 350px;
    height: 400px;
}

span {
    color: white;
}

.funix-links a {
    color: #2cafff;
}

.funix-links a:hover {
    color: #0197ff;
}

.category-selector-twitch {
    border-bottom: 2px solid #6441a5;
}

.category-selector:hover {
    background-color: rgba(10, 10, 10, 20%);
    border-radius: 5px;
}

.category-selector-youtube {
    border-bottom: 2px solid #FF0000;
}

.not-selected {
    opacity: 30%;
}

.body-data {
    height: 100%;
    color: white;
}

.body-data .join-live {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #6441a5;
    bottom: 0;
}

.fa-user {
    color: red;
}
