@font-face {
    font-family: "Ubuntu";
    src: url("font.ttf");
}

*
{
    font-family: "Ubuntu", Arial, sans-serif;
}

body
{
    background-color: #f7f1e3;
}

nav
{
    width: 350px;
}

.status-live
{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon
{
    background-color: #f7f1e3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

.icon i
{
    color: black;
    font-size: 25px;
}

.buttons
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.text
{
    background-color: #f7f1e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    border-radius: 0 10px 10px 0;
}

#info
{
    text-align: center;
}

.btn-twitch {
    color: #fff;
    background-color: #7d53cd;
    border-color: #7d53cd;
}

.btn-twitch:hover {
    color: #fff;
    background-color: #5f34b3;
    border-color: #5f34b3;
}

.btn-twitch:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #5f34b3;
}

.btn-twitch.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #7d53cd;
    border-color: #7d53cd;
}

.btn-twitch:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5f34b3;
    border-color: #5f34b3;
}

.btn-twitch:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #4d2a8e;
}
