@font-face {
    font-family: "Ubuntu";
    src: url("font.ttf");
}

*
{
    font-family: "Ubuntu", Arial, sans-serif;
}

body
{
    background-color: #45aaf2;
}

nav
{
    width: 350px;
}

.status-live
{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon
{
    background-color: #a5b1c2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

.icon i
{
    color: black;
    font-size: 25px;
}

.buttons
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.text
{
    background-color: #d1d8e0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    border-radius: 0 10px 10px 0;
}

#info
{
    text-align: center;
}